.form-component{
  margin-top: 5px;
  display:flex;
  flex-direction: column;
  margin-bottom: 25px;
  width:100%;
  &:first-child{
    text-align: center;
  }
  .divider {
    text-transform: uppercase;
    color: $dark-grey;
    font-weight: 600;
    margin: 1px 0;
    margin-bottom: 20px;
    position: relative;
    &:before {
      content: "";
      width: 42%;
      position: absolute;
      background-color: $dark-grey;
      height: 1px;
      left: 0;
      top: 10px;
      opacity: 0.8;
    }
    &:after {
      content: "";
      width: 42%;
      position: absolute;
      background-color: $dark-grey;
      height: 1px;
      right: 0;
      top: 10px;
      opacity: 0.8;
    }
  }
  .form{
    display:flex;
    flex-direction: column;
    padding:10px 10px 20px 10px;
    align-items: center;
    justify-content: center;
    input[type="submit"]{
      margin-top: 15px;
      width:100%;
    }
    .divider {
      text-transform: uppercase;
      color: $dark-grey;
      font-weight: 600;
      margin: 20px 0;
      margin-bottom: 20px;
      position: relative;
      &:before {
        content: "";
        width: 42%;
        position: absolute;
        background-color: $dark-grey;
        height: 1px;
        left: 0;
        top: 6px;
        opacity: 0.8;
      }
      &:after {
        content: "";
        width: 42%;
        position: absolute;
        background-color: $dark-grey;
        height: 1px;
        right: 0;
        top: 6px;
        opacity: 0.8;
      }
    }
    .text-input{
      border: 1px solid #efefef;
      border-radius: 3px;
      background-color: $bg-color;
      margin-bottom: 15px;
      font-size: $normal-font-size;
      padding: 10px 1px 7px 8px;
      font-weight: 400;
      width:100%;
      &:focus{
        outline:none;
        border: 1px solid #b2b2b2;
      }
    }
  }
  .brown-button{
    @include default-button(brown);
    svg{
      margin-right:10px;
    }
  }
  .green-button{
    @include default-button(green);
    svg{
      margin-right:10px;
    }
  }
}
