.auth {
  display: flex;
  flex-direction: row;
  max-width: $max-page-width;
  margin: 60px auto;
  font-weight: 600;
  font-size: $small-font-size;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  .row {
    .whiteBox {
      @include border-box(no);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px auto;
      padding: 20px;
      line-height: 20px;
      p{
        display: flex;
        flex-direction: column;
        margin: 15px;
        text-align: center;
        .change-link{
          color:$light-blue;
          cursor: pointer;
        }
      }
    }
    .img-box{
      display: flex;
      margin: 0 auto;
      padding: 16px;
      align-items: center;
      justify-content: center;
      img {
        width: 300px;
      }
    }
  }
}