.form{
  display: flex;
  flex-direction: row;
  max-width: $max-page-width;
  width: 100%;
  font-weight: 600;
  font-size: $small-font-size;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  text-transform: uppercase;
}